// Initializing a matrix of `$x` by `$y` with 0s
// --------------------------------------------------------------------------------
// @param $x: number of rows
// @param $y: number of columns
// --------------------------------------------------------------------------------
// @return matrix

@function matrix($x, $y: $x) {
  @if type-of($x) != number or type-of($y) != number {
    @warn "Wrong dimensions for matrix.";
    @return false;
  }
  
  $matrix: ();
  @for $i from 1 through $x {
    $tmp: ();
    @for $y from 1 through $y {
      $tmp: append($tmp, 0)
    }
    $matrix: append($matrix, $tmp);
  }
  @return $matrix;
}
