// Return column at `$index` from `$matrix`
// --------------------------------------------------------------------------------
// @require `get-entry`
// @require `rows`
// --------------------------------------------------------------------------------
// @param $matrix: matrix
// @param $index: index
// --------------------------------------------------------------------------------
// @return list

@function get-column($matrix, $index) {
  @if type-of($index) != number {
    @warn "Invalid column index.";
    @return false;
  }

  @if abs($index) > length(nth($matrix, 1)) {
    @warn "Out of bound column index.";
    @return false;
  }

  $column: ();
  @for $i from 1 through rows($matrix) {
    $column: append($column, get-entry($matrix, ($i $index)))
  }

  @return $column;
}
