// Return row at `$index` from `$matrix`
// --------------------------------------------------------------------------------
// @param $matrix: matrix
// @param $index: index
// --------------------------------------------------------------------------------
// @return list

@function get-row($matrix, $index) {
  @if type-of($index) != number {
    @warn "Invalid row index.";
    @return false;
  }

  @if abs($index) > length($matrix) {
    @warn "Out of bound row index.";
    @return false;
  }

  @return nth($matrix, $index);
}