// Checks wether all entries from `$matrix` are numeric
// --------------------------------------------------------------------------------
// @require `rows`
// @require `columns`
// @require `get-entry`
// --------------------------------------------------------------------------------
// @return boolean

@function is-numeric($matrix) {
  @for $i from 1 through rows($matrix) {
    @for $j from 1 through columns($matrix) {
      @if type-of(get-entry($matrix, ($i $j))) != number {
        @return false;
      }
    }
  }
  @return true;
}
