/// Checks whether `$matrix` is lower triangular with `$flag` option
/// @param {Matrix} $matrix - matrix
/// @param {String | Null} $flag (null) - advanced option (`null` | `strict` | `unit` | `atom`)
/// @return {Bool}
/// @require {function} _is-triangular
@function is-lower-triangular($matrix, $flag: null) {
  @return _is-triangular($matrix, bottom, $flag);
}
