/// Initializing a matrix of `$x` by `$y` with 0s
/// @group init
/// @param {Number} $x      - number of rows
/// @param {Number} $y ($x) - number of columns
/// @return {Matrix}
/// @require {function} _valid-coords
@function matrix($x, $y: $x) {
  @if _valid-coords(($x $y)) {
    $matrix: ();

    @for $i from 1 through $x {
      $tmp: ();

      @for $y from 1 through $y {
        $tmp: append($tmp, 0)
      }

      $matrix: append($matrix, $tmp);
    }

    @return $matrix;
  }

  @return false;
}
