// Returns the visual representation of `$matrix` as a string
//
// @param $matrix: matrix to display
//
// @return string

@function display-matrix($matrix) {
  $str: "";
  @each $line in $matrix {
    $tmp: "";
    @each $item in $line {
      $tmp: $tmp + " " + $item;
    }
    $str: $str + $tmp + "\A ";
  }
  @return $str;
}

// Mixin displaying the matrix
// using body pseudo-elements
//
// @param $matrix: matrix to display
// @param $pseudo: pseudo element to use

@mixin display-matrix($matrix, $pseudo: before) {
    body:#{$pseudo} {
        content: display($matrix)                 !important;

        display: block                            !important;
        margin: 1em                               !important;
        padding: .5em                             !important;

        background: #EFEFEF                       !important;
        border: 1px solid #DDD                    !important;
        border-radius: .2em                       !important;

        color: #333                               !important;
        font: 1.5em/1.5 "Courier New", monospace  !important;
        text-shadow: 0 1px white                  !important;
        white-space: pre-wrap                     !important;
    }
}
