// Swaps values `$a` and `$b` from `$matrix`
//
// @param $matrix: matrix
// @param $a: first entry; must be a list of (x y) coordinates
// @param $b: second entry; must be a list of (x y) coordinates
//
// @return $matrix

@function swap-values($matrix, $a, $b) {
  $tmp: get-matrix-value($matrix, nth($a, 1), nth($a, 2));
  $matrix: set-matrix-value($matrix, nth($a, 1), nth($a, 2), get-matrix-value($matrix, nth($b, 1), nth($b, 2)));
  $matrix: set-matrix-value($matrix, nth($b, 1), nth($b, 2), $tmp);
  @return $matrix;
}